<% if @parsables %>
<table width="100%">
<% @parsables.each_with_index do |pable, i| %>
			<% if pable.parsable %>
	<tr>
		<td colspan="2">
			<%= render(:partial => display_form_for(pable), :object => pable.parsable, :locals => { :locus_counter => display_obj_of(pable).id - 1 })%>
		</td>
	</tr>
	<tr>
	  <td><%= link_to 'Show', display_obj_of(pable) %></td>
	  <td><%= link_to 'Edit', edit_polymorphic_path(display_obj_of(pable)) %></td>
	</tr>
			<% else %>
	<tr>
		<td colspan="2">
				Parse <%= pable.id %> with parsed form <%= pable.parsed_form %> does not have a parsable. <%= link_to 'Destroy it', pable, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
			<% end %>
<% end %>
</table>

<br />

<%= will_paginate @parsables %>
<% else %>
<p><i>No parsables to list</i></p>
<% end %>
