<h1>New source</h1>

<%= error_messages_for :source %>

<%= form_for(@source) do |f| %>
  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Pointer</b><br />
    <%= f.text_field :pointer %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sources_path %>
