</div>
<dl>
    <fieldset class="etymology parsable">
    <legend><%= label_with_remove_option_for t(".etymon"), f %></legend>
    <div class="type-text">
        <%= autocomplete :original_language, f, 
            custom_search: f.object.original_language,
            prompt: t('.language_name_or_code'),
            as: :language %>
    </div>
    <div class="type-text">
        <%= f.label :etymon %> 
        <%= f.text_field :etymon, size: width %>
    </div>
    <div class="type-text">
        <%= f.label :gloss %>
        <%= translatable_tag f, :text_field, :gloss, :vernacular, size: width %>
    </div>

    <%= list_children_with_option_to_add :parse, f, :remote => true, locals: { dictionaries: @dictionaries, form: :interlinear } %>
			
    <%= list_children_with_option_to_add :note, f, :remote => true, locals: { dictionaries: @dictionaries } %>
    </fieldset>
</dl>
<%= list_children_with_option_to_add :next_etymon, f, 
        :class_name => :etymology, 
        :limit_one => true, 
        :remote => true,
        :create_blank => false, #(f.object && !f.object.new_record?),
        :list_if => (f.object && !f.object.new_record?),
        :locals => { dictionaries: @dictionaries }
%>