<h1>Listing etymologies</h1>

<table>
  <tr>
    <th>Etymon</th>
    <th>Source language</th>
    <th>Gloss</th>
  </tr>

<% for etymology in @etymologies %>
  <tr>
    <td><%=h etymology.etymon %></td>
    <td><%=h etymology.source_language %></td>
    <td><%=h etymology.gloss %></td>
    <td><%= link_to 'Show', etymology %></td>
    <td><%= link_to 'Edit', edit_etymology_path(etymology) %></td>
    <td><%= link_to 'Destroy', etymology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New etymology', new_etymology_path %>
