<p>
  <b>Etymon:</b>
  <%=h @etymology.etymon %>
</p>

<p>
  <b>Source language:</b>
  <%=h @etymology.original_language %>
</p>

<p>
  <b>Gloss:</b>
  <%=h @etymology.gloss %>
</p>


<%= link_to 'Edit', edit_etymology_path(@etymology) %> |
<%= link_to 'Back', etymologies_path %>
