<%= form_tag form[:for_url], {:method => form[:method], :action => form[:action], :id => params[:id], :class => 'yform'}  do %>
	<%= fields_for :authorship do |f| %>
		<p>
          <%= f.fields_for :author do |author_form| %>
              <%= render partial: 'authors/chooser', locals: { author_form: author_form }%>
          <% end %>
		<p>
		 <b>Title</b><br />
			<%= f.collection_select(:title_id, Title.find(:all), :id, :name, {:prompt => "[Other:]"})%>
			<%= text_field :new_title, :name %>
		</p>
	<% end %>
  <p>
    <%= submit_tag form[:label] %>
  </p>
<% end %>
