<fieldset class="authorship yform">
    <p>
        <%= f.label :authorship_type_id %>
        <%= f.collection_select :authorship_type_id, AuthorshipType.all, :id, :name, prompt: true %>
    </p>
    <p>
        <%= autocomplete :author, f %>
    </p>
    <p>
        <%= autocomplete :title, f %>
    </p>
    <p>
        <%= f.label :year %>
        <%= f.text_field :year %>
    </p>
</fieldset>