<%= form_tag form[:for_url], {:method => form[:method], :action => form[:action], :id => params[:id], :class => 'yform'}  do %>
	<%= fields_for :authorship do |f| %>
		<p>
          <%= f.fields_for :author do |author_form| %>
              <%= render partial: 'authors/chooser', locals: { author_form: author_form }%>
          <% end %>
        </p>
        <p>
            <%= f.fields_for :title do |title_form| %>
                <%= render partial: 'titles/chooser', locals: { title_form: title_form }%>
            <% end %>
        </p>
	<% end %>
  <p>
    <%= submit_tag form[:label] %>
  </p>
<% end %>
    <p>
        <%= f.label :authorship_type_id %>
        <%= f.collection_select :authorship_type_id, AuthorshipType.all, :id, :name, prompt: true %>
    </p>