<fieldset class="authorship yform">
    <p>
        <%= authorship_form.label :authorship_type_id %>
        <%= authorship_form.collection_select :authorship_type_id, AuthorshipType.all, :id, :name, prompt: true %>
    </p>
    <p>
        <%= autocomplete :author, authorship_form %>
    </p>
    <p>
        <%= autocomplete :title, authorship_form %>
    </p>
    <p>
        <%= authorship_form.label :year %>
        <%= authorship_form.text_field :year %>
    </p>
</fieldset>