<h1>Editing authorship</h1>

<%= error_messages_for :authorship %>

<%= form_for @authorship, html: {class: "yform"} do |authorship_form|  %>
    <%=	render partial: "form", locals: { authorship_form: authorship_form }  %>

    <%= authorship_form.submit "Update" %>
  <div class="type-button">
  </div>
<% end %>

<%= link_to 'Show', @authorship %> |
<%= link_to 'Back', authorships_path %>
