<table>
  <tr>
  </tr>

<% for authorship in @authorships %>
	<tr>
		<td colspan="3"><%= cited_name authorship %></td>
    </tr>
    <% unless authorship.sources.empty? %>
    <tr>
		<td colspan="3">
            <%= t('.cited_in') %> 
		    <% for source in authorship.sources %>
            <% for locus in source.loci %>
                <%= link_to "(#{greek_numeral(locus.id)})", locus %>
            <% end %>
            <% end %>
		</td>
	</tr>
    <% end %>
  <tr>
    <td><%= link_to t('.show'), authorship %></td>
    <td><%= link_to t('.edit'), edit_authorship_path(authorship) %></td>
    <td><%= link_to t('.destroy'), authorship, :confirm => t('.confirm_destroy', name: j(cited_name(authorship, format: :text))), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_source'), new_authorship_path %>

<%= will_paginate @authorships %>