<%= error_messages_for :authorship %>

<%= form_for @authorship, html: {class: "yform"} do |authorship_form|  %>
    <%=	render partial: "form", locals: { authorship_form: authorship_form }  %>

  <div class="type-button">
    <%= authorship_form.submit t(".create") %>
  </div>
<% end %>

<%= link_to t('.back'), authorships_path %>
