<%= form_for @language, {:method => form[:method], :action => form[:action], :html => {:class => "yform"}} do |f| %>
	<div class="type-text">
		<label for="language_default_name"><%= t("languages.edit.name_prompt", :default => "Name:") %></label>
		<%= f.text_field :default_name %>
	</div>

	<div class="type-text">
		<label for="language_iso_639_code"><%= t("languages.edit.code_prompt", :default => "Code:") %></label>
		<%= f.text_field :iso_639_code %>
	</div>

  <%= list_children_with_option_to_add :sort_order, f, remote: true, limit_one: true %>

  <div class="type-button">
    <%= f.submit form[:label] %>
  </div>
<% end %>
