
	<div class="type-text">
		<label for="language_default_name"><%= t(".name_prompt") %></label>
		<%= language_form.text_field :default_name %>
        <%= language_tabs @locale_name %>
	</div>

	<div class="type-text">
		<label for="language_iso_639_code"><%= t(".code_prompt") %></label>
		<%= language_form.text_field :iso_639_code %>
	</div>

  <%= list_children_with_option_to_add :sort_order, language_form, remote: true, limit_one: true %>

