	<fieldset class="sort_order">
		<legend><%= label_with_remove_option_for t(".default_sort"), f %></legend>
			<div class="type-text">
				<%= f.label :name, t(".name") %>
				<%= f.text_field :name %>
                <%= language_tabs @locale_name %>

				<%= f.label :substitutions, t(".substitutions") %>
				<%= t(".substitutions_hint_html") %>
				<%= f.text_area :substitutions, value: friendly_subst(f.object.substitutions) %>

				<%= f.label :orderings, t(".orderings") %>
				<%= t(".orderings_hint_html") %>
				<%= f.text_area :orderings, value: friendly_order(f.object.orderings) %>
			</div>
	</fieldset>
