<h1>Editing language</h1>

<%= error_messages_for :language %>

<% form_for(@language) do |f| %>
	<p>
		<b>Code:</b>
		<%= f.text_field :iso_639_code %>
	</p>
	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @language %> |
<%= link_to 'Back', languages_path %>
