<table>
    <tr>
        <th><%= t('.name') %></th>
        <th colspan="3"><%= t('.actions') %></th>
    </tr>
<% for language in @languages %>
  <tr>
		<td><%= h language %></td>
    <td><%= link_to t(".show"), language %></td>
    <td><%= link_to t(".edit"), edit_language_path(language) %></td>
    <td><%= link_to t(".destroy"), language, :confirm => t(".confirm_destroy", language: language), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new_language"), new_language_path %>
