<%= error_messages_for :language %>

<%= form_for @language, { method: :post, action: 'create', html: {:class => "yform"}} do |f| %>
<%= # @action = "Create"
		render(:partial => "form", :for_url => "/#{I18n.locale}/languages", locals: {language_form: f} }) 
		%>


  <div class="type-button">
    <%= f.submit t('.create_button') %>
  </div>
<% end %>

<%= link_to t(".back"), languages_path %>
