<ul>
    <% @authors.each do |a| %>
        <li id="<%= a.id %>-<%= @ref %>"><%= a.name %></li>
    <% end %>
        <li id="new-<%= @ref %>" class="highlight"><i><%= t('.new_author') %></i></li>
</ul>