<fieldset class="author yform">
    <legend><%= t('.author') %></legend>
    
    <div class="type-text">
        <%= author_form.label :name %>
        <%= author_form.text_field :name %>
        <small>
            <%= t('.name_hint_html') %>
        </small>
    </div>

    <div class="type-text">
        <%= author_form.label :romanized_name %>
        <%= author_form.text_field :romanized_name %>
        <small>
            <%= t('.romanized_name_hint_html')%>
        </small>
    </div>

    <div class="type-text">
        <%= author_form.label :short_name %>
        <%= author_form.text_field :short_name %>
        <small>
            <%= t('.short_name_hint_html')%>
        </small>
    </div>

    <div class="type-text">
        <%= author_form.label :sort_key %>
        <%= author_form.text_field :sort_key %>
        <small>
            <%= t('.sort_key_hint_html')%>
        </small>
    </div>
</fieldset>