<h1>Editing author</h1>

<%= error_messages_for :author %>

<%= form_for @author do |author_form|  %>
    <%=	render partial: "form", locals: { author_form: author_form }  %>

  <p>
    <%= author_form.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
