<h1>Listing authors</h1>

<table>
  <tr>
  </tr>

<% for author in @authors %>
    <tr> 
        <td colspan="3">
            <%= author.name %>
            <%= "[#{author.romanized_name}]" if author.romanized_name %>
            <%= "(#{author.short_name})" if author.short_name %>
        </td>
    </tr>

  <tr>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New author', new_author_path %>
