<%= link_to "#{greek_numeral(locus_counter + 1)}", locus, :name => "locus-#{locus.id}" %>
<%= render(:partial => "shared/note", :collection => @constructions.collect {|constr| constr if constr.loci.include?(locus)}.compact) if @lexeme %>
<%=	h "#{locus.source.author.name}," unless (locus.source.nil? || locus.source.author.nil?)  %>
<%= sanitize "<i>#{h locus.source.title.name}</i>" unless (locus.source.nil? || locus.source.title.nil?)  %>
<%=h locus.source.pointer unless locus.source.nil? %>:

<div class="subcolumns">
	<div class="c50l" style="border-right:3px double gray">
		<div class="subcl" style="padding-left:35px">
			<%=wh locus.example, emphasis ||= [] %>
		</div>
	</div>
	<div class="c50r">
		<div class="subcr">
			<i><%=wh locus.example_translation%></i>
		</div>
	</div>
</div>