<li class="lexform-sense" <%= lang_for(sense) %>>
	<%=wh sense.definition %>
	<% unless sense.glosses.empty? %>
		<ul class="lexform-glosses">
			<%= render :partial => "shared/gloss", :collection => sense.glosses %>	
		</ul>
		<% unless sense.notes.empty? %>
		<dl>
			<dd><%= t('.notes_html', default: "<b>¶</b> %{notes}", notes: render(:partial => "shared/comment", :collection => sense.notes)) %>
		</dl>
		<% end %>
	<% end %>
    <% unless @loci_for_sense.try(:[], sense).blank? %>
    <div class="loci">
        <%= render(:partial => "shared/locus", :collection => @loci_for_sense[sense], :locals => { sense: sense }) %>
    </div>
    <% end %>
</li>