<div class="lexform-subentry"  <%= lang_for(subentry) %>>
	<span class="lexform-paradigm">
	  <%=wh source {t('.principal_parts', paradigm: subentry.paradigm, default: "%{paradigm}.") || t('.no_principal_parts')} %>
	</span>
	<!-- phonetic form was here, now in shared/headword -->
	<span class="lexform-part-of-speech">
		<%=h subentry.part_of_speech || t('.no_part_of_speech') %>
	</span>
	<span class="lexform-notes">
		<%= render :partial => "shared/comment", :collection => subentry.notes %>
	</span>
	<% unless subentry.senses.empty? %>
		<ol class="lexform-senses">
			<%= render :partial => "shared/sense", :collection => subentry.senses %>
		</ol>
	<% end %>
	<% unless subentry.etymologies.empty? %>
		<%= render :partial => "shared/etymology", :collection => subentry.etymologies.compact %>
	<% end %>
</div>
