<%= fields_for @path, @sense, :child_index => Time.now.to_i.to_s do |f|  %>
	<fieldset class="sense">
	  <legend>
			<%= label_with_remove_option_for "Sense #{sense_counter + 1 if defined? sense_counter}", f %>
		</legend>
		<div class="type-text">
	      <%= f.label :definition %>
	      <%= f.text_area :definition, :rows => 4 %>
    </div>

    <!-- Gloss -->
		<%= list_children_with_option_to_add :gloss, f, :remote => true %>

    <!-- Note -->
    <%= list_children_with_option_to_add :note, f, :remote => true %>
	</fieldset>
<% end %>