<h1>Editing sense</h1>

<%= error_messages_for :sense %>

<%= form_for(@sense) do |f| %>
  <p>
    <b>Subentry</b><br />
    <%= f.text_field :subentry_id %>
  </p>

  <p>
    <b>Definition</b><br />
    <%= f.text_area :definition %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sense %> |
<%= link_to 'Back', senses_path %>
