<table>
    <tr>
        <th><%= t('.title') %></th>
        <th colspan="3"><%= t('.actions') %></th>
    </tr>

    <% for dictionary in @dictionaries %>
    <tr>
        <td>
            <span class="dictform-title" <%= lang_for (dictionary) %>><%=h dictionary.title %></span>
            <br> 
            <em><%= t('.languages', 
                    source: dictionary.source_language.try(:name),
                    target: dictionary.target_language.try(:name),
                    language: dictionary.language.try(:name)
                    )%></em>
        </td>
        <td><%= link_to t('.show'), dictionary %></td>
        <td><%= link_to t('.edit'), edit_dictionary_path(dictionary) %></td>
        <td><%= link_to t('.destroy'), dictionary, :confirm => t('.confirm_destroy', title: dictionary.title), :method => :delete %></td>
    </tr>
    <% end %>
</table>

<br />

<%= link_to t('.new'), new_dictionary_path %>
