<p>
	<b>Title:</b>
	<%=h @dictionary.title %>
</p>

<h1>Listing lexemes in <%=h @dictionary.title %></h1>

<% for lexeme in @lexemes %>
	<dl class="dictform-entry">
		<dt class="dictform-headword" <%= lang_for(lexeme.headwords) %>><%= titleize_headwords_for lexeme %>.</dt>
		<% for headword in lexeme.headwords %>
			<dd class="dictform-phonetic-form" <%= lang_for(headword, :variant => 'fonipa') %>><%= h headword.phonetic_forms.compact.collect{|x| t('.phonetic_form', form: x.form)}.to_options_sentence(@dictionary.definition_language) %></dd>
		<% end %>
		<% for subentry in lexeme.subentries %>
			<dd class="dictform-subentry"  <%= lang_for(subentry) %>>
				<dl class="dictform-subentry-senses">
					<dt class="dictform-paradigm">
						<%=wh subentry.paradigm || "<No principal parts>" %>.
					</dt>
					<dd class="dictform-part-of-speech">
						<%=h subentry.part_of_speech || "<No part of speech>"%>
					</dd>
					<dd class="dictform-notes">
						<% for comment in subentry.notes %>
							<span class="dictform-note" <%= lang_for(comment) %>><%=wh comment.content %></span>
						<% end %>
					</dd>
					<% unless subentry.senses.empty? %>
						<dl class="dictform-senses">
							<% for sense in subentry.senses %>
								<dd class="dictform-sense" <%= lang_for(sense) %>>
									<%=wh sense.definition %>
									<% unless sense.glosses.empty? %>
										<dl class="dictform-glosses">
											<% for gloss in sense.glosses %>
												<dd class="dictform-gloss" <%= lang_for(gloss) %>><%= wh gloss.gloss %></dd>
											<% end %>
										</dl>
										<% unless sense.notes.empty? %>
										<dl>
											<dd><b>¶</b> <% for comment in sense.notes %>	<span class="dictform-note" <%= lang_for(comment) %>><%=wh comment.content %></span> <% end %>
										</dl>
										<% end %>
									<% end %>
								</dd>
							<% end %>
						</dl>
					<% end %>
					<% unless subentry.etymologies.empty? %>
						[<%= subentry.etymologies.collect {|etymology| "<dd class=\"dictform-etymology\" #{lang_for(etymology)}>#{sanitize html_format(etymology)}</dd>" }.join(" ").html_safe %>]
					<% end %>
				</dl>
			</dd>
		<% end %>
	</dl>
<% end %>


<br />


<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
