<p>
  <b>Title:</b>
  <%=h @dictionary.title %>
</p>

<h1>Listing lexemes in <%=h @dictionary.title %></h1>

<% for lexeme in @lexemes %>
	<%= render(:partial => "lexeme", :object => lexeme ) 
	%>
<% end %>


<br />


<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
