<%  I18n.locale = @dictionary.definition_language
    for lexeme in @lexemes %>
	<dl class="dictform-entry">
		<dt class="dictform-headword" <%= lang_for(lexeme.headwords) %>><%= t('.headwords', headwords: titleize_headwords_for(lexeme), default: "%{headwords}.") %></dt>
		<% for headword in lexeme.headwords %>
			<dd class="dictform-phonetic-form" <%= lang_for(headword, :variant => 'fonipa') %>><%= h headword.phonetic_forms.compact.collect{|x| t('.phonetic_form', form: x.form, default: "/%{form}/")}.to_options_sentence(@dictionary.definition_language) %></dd>
		<% end %>
		<% for subentry in lexeme.subentries %>
			<dd class="dictform-subentry"  <%= lang_for(subentry) %>>
				<dl class="dictform-subentry-senses">
					<dt class="dictform-paradigm">
						<%=wh subentry.paradigm ? 
                                t('.principal_parts', paradigm: subentry.paradigm, default: "%{paradigm}.") : 
                                t('.no_principal_parts') %>
					</dt>
					<dd class="dictform-part-of-speech">
						<%=h subentry.part_of_speech || t('.no_part_of_speech') %>
					</dd>
					<dd class="dictform-notes">
						<% for comment in subentry.notes %>
							<span class="dictform-note" <%= lang_for(comment) %>><%=wh comment.content %></span>
						<% end %>
					</dd>
					<% unless subentry.senses.empty? %>
						<dl class="dictform-senses">
							<% for sense in subentry.senses %>
								<dd class="dictform-sense <%= "nocount" if subentry.senses.length == 1 %>" <%= lang_for(sense) %>>
									<%=wh sense.definition %>
									<% unless sense.glosses.empty? %>
										<dl class="dictform-glosses">
											<% for gloss in sense.glosses %>
												<dd class="dictform-gloss" <%= lang_for(gloss) %>><%= wh gloss.gloss %></dd>
											<% end %>
										</dl>
									<% end %>
									<% unless sense.notes.empty? %>
    									<dl>
    										<dd><%= t('.notes', 
                                                notes: sense.notes.collect do |n| 
                                                    "<span class=\"dictform-note\" #{lang_for(n)}>#{wh n.content}</span>"
                                                end.join(t('.note_separator', default: " ")), default: "¶ %{notes}").html_safe %>
    									</dl>
									<% end %>
								</dd>
							<% end %>
						</dl>
					<% end %>
					<% unless subentry.etymologies.empty? %>
						<%= t('.etymologies', etymologies: subentry.etymologies.collect do |e|
                            "<dd class=\"dictform-etymology\" #{lang_for(e)}>#{sanitize html_format(e)}</dd>"
                        end.join(t('.etymology_separator', default: " ")), default: "[%{etymologies}]").html_safe %>
					<% end %>
				</dl>
			</dd>
		<% end %>
	</dl>
<%  end 
    I18n.locale = params[:locale] %>


<br />


<%= link_to t('.edit'), edit_dictionary_path(@dictionary) %> |
<%= link_to t('.back'), dictionaries_path %>
