<% unless (f.object.try(:_destroy)) %>
	<% nested_attributes_for f, [:parses, :etymologies, :etymothesis, :subentry], [:notes, :etymologies, :etymothesis, :subentry] %>
	<fieldset class="etymology">
		<legend><%= label_with_remove_option_for "Etymology", f %></legend>
			<div class="type-text">
				<%= f.label :source_language %>
				<%= f.collection_select :original_language_id, Language.all, :id, :to_s, { :include_blank => true } %>

				<%= f.label :etymon %> 
				<%= f.text_field :etymon %>

				<%= f.label :gloss %>
				<%= f.text_field :gloss, :class => "warning" %>
			</div>

			<%= list_children_with_option_to_add :parse, f, :remote => true, :create_blank => true %>
			
			<%= list_children_with_option_to_add :note, f, :remote => true %>

			<%= list_children_with_option_to_add :next_etymon, f, 
					  :class_name => :etymology, 
					  :limit_one => true, 
					  :remote => true,
					  :create_blank => (f.object && !f.object.new_record?),
					  :list_if => (f.object && !f.object.new_record?)
			%>
	</fieldset>
<% end %>