<%= form_for @lexeme, {:method => form[:method], :action => form[:action], :html => {:class => "yform"}} do |l_form| %>
  <% nested_attributes_for l_form, :subentries %>
  <!-- Dictionary -->
  <div class="type-select">
      <label for="lexeme_dictionary_ids"><%= t('.dictionary') %></label>
      <%= collection_select(:lexeme, :dictionary_ids, Dictionary.all, :id, :title, {}, { :multiple => :true }) %> 
  </div>

  <!-- Headword -->
  <%= list_children_with_option_to_add :headword, l_form, remote: true, create_blank: l_form.object.new_record?, locals: { dictionaries: @dictionaries } %>

  <%= list_children_with_option_to_add :subentry, l_form, remote: true, create_blank: l_form.object.new_record?, locals: { dictionaries: @dictionaries } %>

	<div class="type-button">
		<%= submit_tag form[:label] %> 
		<%= submit_tag t('.save_and_continue_editing') %>
	</div>
<% end %>
