<%= form_for @lexeme, {:method => form[:method], :action => form[:action], :html => {:class => "yform"}} do |l_form| %>
  <% nested_attributes_for l_form, :headwords, :subentries %>
  <!-- Dictionary -->
  <div class="type-select">
      <label for="lexeme_dictionary_ids"><%= t('.dictionary') %></label>
      <%= collection_select(:lexeme, :dictionary_ids, Dictionary.find(:all), :id, :title, {}, { :multiple => :true }) %> 
  </div>

  <!-- Headword -->
	<%= l_form.fields_for :headwords do |hw_form| %>
  	<%= render :partial => 'headword', :locals => { :f => hw_form } %>
  <% end %>  
	<div class="par">
		<%= link_to t('.add_headword'), '#headwords', :class => 'add' %>
  </div>

  <%= l_form.fields_for :subentries do |se_form| %>
    <%= render :partial => 'subentry', :locals => { :f => se_form } %>
  <% end %>
	<div class="par">
	<%= link_to t('.add_subentry'), '#subentries', :class => 'add' %>
	</div>

	<div class="type-button">
		<%= submit_tag form[:label] %> 
		<%= submit_tag t('.save_and_continue_editing') %>
	</div>
<% end %>
