<% unless (f.object._destroy) %>
	<% nested_attributes_for f, :phonetic_forms %>
	<fieldset class="headword">
		<legend>
			<%= label_with_remove_option_for "Headword #{headword_counter + 1 if defined? headword_counter}", f %>
		</legend>
		
		<div class="type-text">
	    	<%= f.label :form, "Orthographic form" %>
	    	<%= f.text_field :form %>
	    	<% unattached = Parse.count_unattached_to(f.object.form)
	    		 if unattached > 0 %>
	    	<small>
					<i><%= link_to h(pluralize(unattached, "parse")), :controller => "loci", :action => "unattached", :forms => f.object.form %> unattached to this spelling</i>
				</small>
				<% end %>

	  </div>
	
	  <!-- Phonetic form -->
	  	<%= f.fields_for :phonetic_forms do |pf_form| %>
		    <%= render :partial => 'phonetic_form', :locals => { :f => pf_form } %>
		  <% end %>
			<div class="par">
				<%= link_to 'Add phonetic form', '#phonetic_forms', :class => 'add_nested', :rel => "[headword][phonetic_forms]" %>
			</div>
		</ul>
	</fieldset>
<% end %>