<% unless (f.object._destroy) %>
	<% nested_attributes_for f, [:glosses, :senses, :subentry], [:notes, :senses, :subentry] %>
	<fieldset class="sense">
	  <legend>
			<%= label_with_remove_option_for t('.sense'), f %>
		</legend>
		<div class="type-text">
	      <%= f.label :definition %>
	      <%= f.text_area :definition, :rows => 4 %>
    </div>

    <!-- Gloss -->
		<%= list_children_with_option_to_add :gloss, f, :remote => true, :create_blank => true %>

    <!-- Note -->
    <%= list_children_with_option_to_add :note, f, :remote => true %>
	</fieldset>
<% end %>