<% unless (f.object._destroy) %>
	<% nested_attributes_for f, :senses, :etymotheses, [:notes, :subentry] %>
	<fieldset class="subentry">
	  <legend>
			<%= label_with_remove_option_for t('.subentry'), f %>
		</legend>
		
		<div class="type-text">
	      <%= f.label :paradigm %>
	      <%= translatable_tag f, :text_field, :paradigm, :source %>
	      <%= f.label :part_of_speech %>
	      <%= translatable_tag f, :text_field, :part_of_speech, :vernacular %>
	  </div>
		<%= f.fields_for :notes do |e_form| %>
	    <%= render :partial => 'note', :locals => { :f => e_form } %>
	  <% end %>
		<div class="par">
			<%= link_to t('.add_note'), '#notes', :class => 'add_nested', :rel => "[subentry][notes]" %>
		</div>
    
	  <!-- Sense -->
	  <%= list_children_with_option_to_add :sense, f, remote: true, create_blank: true, locals: { dictionaries: @dictionaries } %>

	  <!-- Etymology -->
		<%= list_children_with_option_to_add :etymothesis, f, display_name: 'etymology' %>
	</fieldset>
<% end %>