<table>
  <tr>
  </tr>

<% for lexeme in @lexemes %>
<% @langs = @all_langs[lexeme] %>
	<tr>
		<td colspan="3">
			<%= render(:partial => "shared/lexeme", :object => lexeme)%>
		</td>
	</tr>
  <tr>
    <td><%= link_to t('.show'), lexeme %></td>
    <td><%= link_to t('.edit'), edit_lexeme_path(lexeme) %></td>
    <td><%= link_to t('.destroy'), lexeme, data: { confirm: t('.confirm_destroy', headwords: titleize_headwords_for(lexeme)) }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_lexeme'), new_lexeme_path %>

<%= will_paginate @lexemes %>
