<legend>Source</legend>
<div class="type-text">
    <%= f.text_field :cited_name, id: 'authorship_search', placeholder: 'search for author and/or title' %>
    <span id="authorship-search-indicator" style="display:none">
        <img src="<%= asset_path('icons/throbber.gif') %>" style="vertical-align:middle" width="16" height="16">
    </span>
    <%= f.hidden_field :id, id: :authorship_id %>
    <div id="authorship_choices" class="autocomplete" data-plural="authorships"></div>
    <div id="authorship_new" style="display:none">
        <fieldset>
            <%= f.fields_for :author, f.object.build_author do |author_form| %>
                <%= render partial: 'authors/chooser', locals: { author_form: author_form }%>
            <% end %>

            <%= f.fields_for :title, f.object.build_title do |title_form| %>
            <label for="new_title_name">Title</label>
            <%= title_form.text_field :name %>
            <% end %>
        </fieldset>
    </div>
</div>