<%= form_for @locus, {:method => form[:method], :action => form[:action], :html => {:class => "yform"}} do |l_form| %>
<% nested_attributes_for l_form, :attestations %>
<fieldset>
	<legend>Author</legend>
	<div class="subcolumns full">
		<div class="c50l">
		  <div class="subcl type-select">
		    <!-- these need a better interface -->
		    <%= collection_select(:authorship, 
															:author_id, 
															Author.find(:all, :order => "name"), 
															:id, 
															:name, 
															{:include_blank => "[Other:]"}) %> 
			</div>
		</div>
		<div class="c50r">
			<div class="subcr type-text">
				<%= text_field :new_author, :name %>
			</div>
		</div>
	</div>
</fieldset>

<fieldset>
	<legend>Text</legend>
	<div class="subcolumns full">
		<div class="c50l">
		  <div class="subcl type-select">
		    <%= collection_select(:authorship, 
															:title_id, 
															Title.find(:all, :order => "name"), 
															:id, 
															:name, 
															{:include_blank => "[Other:]"}) %> 
			</div>
		</div>
		<div class="c50r">
			<div class="subcr type-text">
				<%= text_field :new_title, :name %>
			</div>
		</div>
	</div>

	<div class="type-text">
	  <label for="source">Pointer</label>
	  <%= text_field :source, :pointer %>
	</div>
</fieldset>

<fieldset>
	<legend>Example</legend>
	<div class="subcolumns full">
		<div class="c50l">
		  <div class="subcl type-text">
		    <label for="example">Original language</label>
	      <%= l_form.text_area :example %>
			</div>
		</div>
		<div class="c50r">
			<div class="subcr type-text">
	    	<label for="example_translation">Translation</label>
	      <%= l_form.text_area :example_translation %>
	    </div>
	  </div>
	</div>
</fieldset>

  <%= list_children_with_option_to_add :attestation, l_form, :remote => true %>

  <% unless @locus.new_record? %>
    <fieldset>
      <legend>Potential constructions</legend>
      <% potcon = @locus.potential_constructions %>
      <% potcon.each do |words, data| %>
        <b>? <%= data[:phrase].to_sentence %></b> - <%= words.to_sentence %> appear together in: 
        <div>
          <%= render :partial => 'shared/locus', :collection => data[:loci].take(5) %>
          <% if data[:loci].size > 5 %>
            (Five results out of <%= data[:loci].size %> listed; <%= link_to "see more...", :controller => "loci", :action => "index", :loci => data[:loci] %>)
          <% end%>
        </div>
      <% end unless potcon.blank? %>
      <%= "No potential constructions detected." if potcon.blank? %>
    </fieldset>
  <% end %>

  <div class="type-button">
		<%= submit_tag form[:label] %> <%= submit_tag "#{form[:label]} and continue editing" %>
	</div>
<% end %>