<%= form_for @locus, {:method => form[:method], :action => form[:action], :html => {:class => "yform"}} do |l_form| %>
<% nested_attributes_for l_form, :attestations %>
<fieldset>
    <%= l_form.fields_for :source do |source_form| %>
    <legend>Source</legend>
    <div class="type-text">
        <%= autocomplete :authorship, source_form, 
            custom_search: cited_name(source_form.object.authorship, format: :text), 
            prompt: 'search for author and/or title' %>
    </div>
	<div class="type-text">
	  <label for="source">Pointer</label>
	  <%= source_form.text_field :pointer %>
	</div>
    <% end %>
</fieldset>

<fieldset>
	<legend>Example</legend>
	<div class="subcolumns full">
		<div class="c50l">
		  <div class="subcl type-text">
		    <label for="example">Original language</label>
	      <%= l_form.text_area :example %>
			</div>
		</div>
		<div class="c50r">
			<div class="subcr type-text">
	    	<label for="example_translation">Translation</label>
	      <%= l_form.text_area :example_translation %>
	    </div>
	  </div>
	</div>
</fieldset>

<div class="attestation interlinear">
    <dl>
        <%= list_children_with_option_to_add :attestation, l_form, :remote => true %>
    </dl>
</div>

  <% unless @locus.new_record? %>
    <% potcon = @potential_constructions || @locus.potential_constructions %>
    <fieldset style="height: <%= [50, (potcon.size+1)*10].min %>em; overflow: scroll">
      <legend>Potential constructions</legend>
      <% potcon.each do |words, data| %>
        <%= l_form.fields_for :attestations, @locus.attestations.build(:attested_form => data[:phrase].to_sentence) do |a_form| %>
        <%= a_form.hidden_field :attested_form %>
        <b><%= a_form.check_box '_destroy', {}, "0", "1" %> <%= data[:phrase].to_sentence %></b> - <%= words.to_sentence %> appear together in: 
        <div style="font-size:90%">
          <%= render :partial => 'shared/locus', :collection => data[:loci].take(5), :locals => { :emphasis => words } %>
          <% if data[:loci].size > 5 %>
            (Five results out of <%= data[:loci].size %> listed; <%= link_to "see more...", :controller => "loci", :action => "index", :loci => data[:loci] %>)
          <% end %>
          <%= list_children_with_option_to_add :parse, a_form, :remote => true %>
        </div>
        <% end %>
      <% end unless potcon.blank? %>
      <%= "No potential constructions detected." if potcon.blank? %>
    </fieldset>
  <% end %>

  <div class="type-button">
		<%= submit_tag form[:label] %> <%= submit_tag "#{form[:label]} and continue editing" %>
	</div>
<% end %>