<% if @loci %>
<table width="100%">
<% @loci.each_with_index do |locus, i| %>
	<tr>
		<td colspan="3">
			<%= render(:partial => "shared/locus", :object => locus, :locals => { :locus_counter => locus.id - 1 })%>
		</td>
	</tr>
	<tr>
	  <td><%= link_to t('.show'), locus %></td>
	  <td><%= link_to t('.edit'), edit_locus_path(locus) %></td>
	  <td><%= link_to t('.destroy'), locus, :confirm => t('.confirm_destroy'), :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to t('.new_locus'), new_locus_path %>

<%= will_paginate @loci %>
<% else %>
<p><i><%= t('.no_loci') %></i></p>
<% end %>
