<fieldset class="title yform">
    <legend><%= t('.title') %></legend>

    <div class="type-text">
        <%= title_form.label :name %>
        <%= title_form.text_field :name %>
    </div>

    <div class="type-text">
        <%= title_form.label :publisher %>
        <%= title_form.text_field :publisher %>
    </div>

    <div class="type-text">
        <%= title_form.label :publication_year %>
        <%= title_form.text_field :publication_year %>
    </div>

    <div class="type-text">
        <%= title_form.label :publication_place %>
        <%= title_form.text_field :publication_place %>
    </div>

    <div class="type-text">
        <%= title_form.label :url %>
        <%= title_form.text_field :url %>
    </div>

    <div class="type-text">
        <%= title_form.label :access_date %>
        <%= title_form.date_select :access_date, include_blank: true, start_year: 1990 %>
    </div>
</fieldset>