<h1>New title</h1>

<%= error_messages_for :title %>

<%= form_for @title do |title_form|  %>
    <%=	render partial: "form", locals: { title_form: title_form }  %>

  <p>
    <%= title_form.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', titles_path %>
