<h1>Editing interpretation</h1>

<%= error_messages_for :interpretation %>

<% form_for(@interpretation) do |f| %>
  <p>
    <b>Parse</b><br />
    <%= f.text_field :parse_id %>
  </p>

  <p>
    <b>Sense</b><br />
    <%= f.text_field :sense_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @interpretation %> |
<%= link_to 'Back', interpretations_path %>
