<%= fields_for @path, @etymothesis, :child_index => Time.now.to_i.to_s do |f|  %>
<%= f.fields_for :etymology do |etym_form| %>

<fieldset class="etymothesis">
    <div class="etymology interlinear">
        <dl>
            <legend><%= label_with_remove_option_for t('.etymology'), f %></legend>
            <div>
                <%= 
                    width ||= (etym_form.object.etymon.try(:size) || 25) * 1.2 
                    render partial: 'etymologies/shortform', locals: {f: etym_form, width: width}
                %>
                <% end %>
            </dl>
    </div>
    <%=    list_children_with_option_to_add :source, f, remote: true, limit_one: true %>

    <% end %>
</fieldset>