<fieldset class="parse">
    <legend><%= label_with_remove_option_for t('.parse'), f %></legend>
    <div class="type-text">
        <%= f.label :parsed_form, nil, :style => "float:left" %>
        <%= headword_link(f.object) unless f.object.parsed_form.blank? %>
        <div style="clear:both"/>
        <%= f.text_field :parsed_form, class: 'bequeathed' %>
    </div>

    <%= list_children_with_option_to_add :interpretation, f, :remote => true %>
</fieldset>