<h1>Editing parse</h1>

<%= error_messages_for :parse %>

<%= form_for(@parse) do |f| %>
  <p>
    <b>Attestation</b><br />
    <%= f.text_field :parsable_id %>
    <%= f.text_field :parsable_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @parse %> |
<%= link_to 'Back', parses_path %>
