<h1>Listing parses</h1>

<table>
  <tr>
    <th>Attestation</th>
  </tr>

<% for parse in @parses %>
  <tr>
    <td><%=h parse.parsable_id %></td>
    <td><%= link_to 'Show', parse %></td>
    <td><%= link_to 'Edit', edit_parse_path(parse) %></td>
    <td><%= link_to 'Destroy', parse, data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New parse', new_parse_path %>
