<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag '1col_layout' %>
<!--[if lte IE 7]>
<link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<%= javascript_include_tag "application" %>
	<%= javascript_tag do %>
		<%= yield(:javascript) %>
	<% end -%>
    <%= csrf_meta_tag %>
</head>
<body>
  <div class="page_margins">
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div class="page">
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation"><%= 
            t("layouts.1col_layout.skip_to_the_navigation", :default => "Skip to the navigation") 
          %></a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content"><%= 
            t("layouts.1col_layout.skip_to_the_content", :default => "Skip to the content") 
          %></a><span class="hideme">.</span>
          <!-- end: skip link navigation -->
     	<%= form_tag({:controller => :lexemes, :action => :show_by_headword}) do %>
				<span class="type-text">
				</span>
		
				<span class="type-select">
						<%= select_tag :matchtype, 
													 options_for_select(Lexeme::SEARCH_OPTIONS, Lexeme::SUBSTRING) %>
				</span>
			<% end unless current_page? :controller => :editor, :action => :index %>
					        <%= text_field_tag :headword, '', :size => 25, 
                                :placeholder => t("layouts.1col_layout.find_or_create_a_lexeme", 
                                    :default => "Find or create a lexeme") %>

					<!-- Login link will go here -->
        </div>  
				<h1><%= page_title %></h1>
                
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
					<ul>
						<%= navlink_unless_current t("layouts.1col_layout.home", :default => "Home"), 
                            :controller => :editor %>
						<%= navlink_unless_current t("layouts.1col_layout.languages", :default => "Languages"), 
                            :controller => :languages %>
						<%= navlink_unless_current t("layouts.1col_layout.dictionaries", :default => "Dictionaries"), 
                            :controller => :dictionaries %>
						<%= navlink_unless_current t("layouts.1col_layout.lexemes", :default => "Lexemes"), 
                            :controller => :lexemes %>
						<%= navlink_unless_current t("layouts.1col_layout.loci", :default => "Loci"), 
                            :controller => :loci %>
						<%= navlink_unless_current t("layouts.1col_layout.sources", :default => "Sources"), 
                            :controller => :authorships %>
          </ul>
        </div>
      </div>
      <div id="main">
				<%= content_tag :div, sanitize(flash[:notice]), :class => "notice" if flash[:notice].present? %>

				<%= yield  %>
      </div>
      <!-- begin: #footer -->
      <div id="footer">
                <%= t("layouts.1col_layout.layout_based_on_yaml_html", :url => 'http://www.yaml.de/', :default => "Layout based on <a href='%{url}'>YAML</a>") %></a>
      </div>
    </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
  </div>
</body>
</html>
